@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
header img {
  width: 20%;
  height: 5%;
  padding-left: 3em;
}
body {
  min-height: 100vh;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bold;
  background-image: url(../assets/topppp.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h2,
h4 {
  padding: 2em;
  margin-top: 0;
  padding-top: 0;
  text-shadow:
    2px 0 #000,
    -2px 0 #000,
    0 2px #000,
    0 -2px #000,
    1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    -1px 1px #000;
  color: #fff;
}
main img {
  border-radius: 10%;
  border: 2px solid black;
}

main {
  text-align: center;
}
.container,
.container2,
.container3,
.container4 {
  display: flex;
  grid-template-rows: repeat(5, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-shadow:
    2px 0 #000,
    -2px 0 #000,
    0 2px #000,
    0 -2px #000,
    1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    -1px 1px #000;
  color: #ffffff;
}
p {
  max-width: 215px;
}
#logoDiv {
  filter: invert(1);
}
