header img {
  width: 12%;
  padding-top: 30px;
  height: 2%;
  padding-bottom: 30px;
}
body {
  padding-left: 5em;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#timerContainer {
  padding: 0px 50px;
}
h1 {
  font-weight: bold;
}
.startButton {
}
