@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
header img {
  width: 20%;
  height: 5%;
  padding-bottom: 20px;
  padding-left: 3em;
}
body {
  min-height: 100vh;
  /*  background: linear-gradient(
    135deg,
    #001d51 0%,
    #001359 14.286%,
    #200b64 28.571%,
    #4c0572 42.857%,
    #7b0082 57.143%,
    #a60095 71.429%,
    #c700a9 85.714%,
    #d700c0 100%
  ); */
  background-image: url(../assets/Music_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bold;
}
h2 h4{
padding : 10em;
  margin-top: 0;
  padding-top: 0;
color: black
}
main img {
  border-radius: 10%;
  border: 5px solid black;
}
main {
  text-align: center;

}
.container,
.container2,
.container3,
.container4 {
  display: flex;
  grid-template-rows: repeat(5, 1fr);
  gap: 50px;
  justify-content: center;
  padding: 30px 0px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  color: black;
}
p{
  max-width: 215px;
}
